@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    font-size: 62.5%;
    color: #000;
    background-color: rgba(255, 102, 31,1);
}
/* preset */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.icon{
    width: 4rem;
}
.row{
    width: 100%;
    padding: 0 2rem;
    text-align: center;
}
section{
    padding: 6rem 0rem;
}
h1{
    color: #fff;
    font-size: 3rem;
}
/* header */
header nav {
    background: rgba(255, 102, 31,1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
}

header nav ul {
    display: flex;
    list-style: none; /* remove default list styles */
    padding: 0; /* remove default padding */
}

header nav ul li {
    margin-right: 1rem;
}

.logo-container {
    margin-right: 1rem;
    margin-left: 1rem;
}

.logo {
    width: 14rem;
    border-radius: 8rem;
    border: solid 5px #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    header nav {
        flex-direction: column; /* stack items vertically */
        text-align: center; /* align items center horizontally */
    }

    .logo-container {
        margin: 0; /* remove left and right margin */
        margin-bottom: 1rem; /* add margin bottom for spacing */
    }

    .logo {
        width: 10rem; /* adjust logo size */
    }
}

/* about */
.about-section {
    position: relative;
    overflow: hidden;
}
.about-section .row{
    margin-bottom: 5rem;
}
.video-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

#video-bg {
    width: 100%;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 102, 31,.9), rgba(255, 102, 31,.9)); /* Adjust the gradient colors and opacity as needed */
}

.about-section .row {
    display: flex;
    flex-direction: column; /* Stack elements vertically on smaller screens */
    align-items: center;
    padding: 0 2rem; /* Adjust horizontal padding */
}

.image-side img.logo {
    max-width: 100%;
    height: auto;
}

.image-side, .text-side {
    width: 100%; /* Make both sides take full width on smaller screens */
    margin-bottom: 2rem; /* Add spacing between sections */
}

.text-side {
    text-align: center; /* Center text on smaller screens */
}

.about-section h1 {
    font-size: 2rem; /* Adjust heading font size */
    color: #fff;
}

.about-section p {
    font-size: 1rem; /* Adjust paragraph font size */
    line-height: 1.5; /* Adjust line height */
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.about-section .btn {
    font-size: 1rem; /* Adjust button font size */
    padding: 8px 1rem;
    border-radius: 5px;
    font-weight: bold;
    border: solid 2px #fff;
}

.wallet-address {
    margin-top: 2rem; /* Reduce top margin on smaller screens */
    padding: 3rem 7rem; /* Adjust padding */
    text-align: center; /* Center text */
    margin: 0 auto;
    border: solid 2px #fff;
}

.wallet-address h1 {
    font-size: 2.6rem; /* Adjust heading font size */
    color: #fff;
}

.wallet-address p {
    font-size: 1.2rem; /* Adjust paragraph font size */
    font-weight: 400;
    text-transform: uppercase;
}

.wallet-address .eth-address {
    font-size: 1/1rem; /* Adjust font size */
    font-weight: 400;
    text-transform: capitalize;
    color: #fff;
}

/* Responsive styles */
@media (min-width: 768px) {
    .about-section .row {
        flex-direction: row; /* Revert back to horizontal layout for larger screens */
    }

    .image-side, .text-side {
        width: 50%; /* Make both sides take 50% width on larger screens */
        margin-bottom: 0; /* Remove margin between sections */
    }

    .text-side {
        text-align: left; /* Align text to left on larger screens */
    }
    .wallet-address {
        padding: 2rem 5rem; /* Adjust padding */
       
    }
}
@media (max-width: 520px) {
    .wallet-address {
        padding: 1rem 2rem; /* Adjust padding */
       
    }
}
/* tokenomics */
.tokenomics h1 {
    margin-bottom: 2rem;
    font-size: 2rem; /* Adjust font size for heading */
}

.tokenomics p {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
    color: #fff;
}

.tokenomics p span {
    color: #d20000;
}

.tokenomics .total-supply {
    background-color: #fff;
    width: 18rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    padding: 1rem 0rem;
    border-radius: 5px;
    color: rgba(255, 102, 31,1);
    font-weight: bold;
    text-align: center; /* Center text */
}

.tokenomics .note {
    margin-top: 1rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

/* Responsive styles */
@media (max-width: 768px) {
    .tokenomics .total-supply {
        width: auto; /* Auto width for smaller screens */
        padding: 1rem 1rem; /* Adjust padding */
    }
}

/* how to buy */
.how-to-buy-section {
    padding-top: 0;
}

.how-to-buy-section img {
    height: 6rem;
}

.how-to-buy-section h1 {
    margin-bottom: 2rem;
    font-size: 2rem; /* Default font size */
}

.accordion {
    text-align: left;
}

.accordion-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    max-width: 700px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    margin-bottom: 10px;
    transition: max-height 0.3s ease-out;
}

.accordion-header {
    background-color: #f4f4f4;
    padding: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #fff;
    font-size: 1rem;
    font-weight: bold;
    transition: opacity 0.3s ease-out; /* Add transition for smooth fade-in/out */
    opacity: 0; /* Initially hide content */
}

.active .accordion-content {
    display: block;
    opacity: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
    .how-to-buy-section h1 {
        font-size: 1.5rem; /* Decrease font size for smaller screens */
    }
}

/* what-is-modi */
.what-is-modi h1 {
    margin-bottom: 2rem;
}

.what-is-modi p {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 2rem; /* Adjust horizontal padding */
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .what-is-modi p {
        padding: 0 1rem; /* Decrease horizontal padding for smaller screens */
    }
}

/* roadmap */
.roadmap {
    padding-top: 0;
    overflow: hidden; /* Prevent overflow */
}

.roadmap h1 {
    margin-bottom: 2rem;
}

.process {
    width: 100%;
    padding: 0 15px;
    text-align: center;
}

.process__item {
    background: #f2f2f2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;
    padding: 15px 20px; /* Adjust padding */
    transition: 0.4s ease-in-out;
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 5px;
}

.process__item:hover {
    background: #f2f2f2;
}

.process__item:hover .process__number {
    transform: translateY(5px);
    color: rgba(255, 102, 31,1);
}

.process__number {
    font-size: 5rem; /* Adjust font size */
    -webkit-text-stroke: 1px rgba(255, 102, 31,1);
    display: block;
    color: transparent;
    font-weight: 700;
    transition: 0.4s ease-in-out;
}

.process__title {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 2rem; /* Adjust font size */
    color: rgba(255, 102, 31,1);
    text-transform: uppercase;
    margin-top: 20px; /* Adjust margin top */
}

.process__subtitle {
    display: block;
    font-size: 1rem; /* Adjust font size */
    color: #000;
    margin-top: 20px; /* Adjust margin top */
    line-height: 1.5;
    font-weight: 500;
}

@media (min-width: 768px) {
    .process__item {
        width: 48%; /* Adjust width */
        margin-right: 2%; /* Adjust margin right */
    }
    .process__item:nth-child(even) {
        margin-right: 0; /* Remove margin right for even items */
    }
}

@media (min-width: 1200px) {
    .process {
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: space-between;
    }
    .process__item {
        width: 48%; /* Adjust width */
    }
    .process__item:not(:last-of-type)::after {
        content: "";
        width: 1px;
        height: calc(100% - 50px); /* Adjust height */
        background: #8c8c8c;
        position: absolute;
        right: -1%; /* Adjust position */
        top: 50%;
        opacity: 0.2;
        transform: translateY(-50%);
    }
}
/* why choose us */
.feat {
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-head {
    text-align: center;
    margin-bottom: 30px;
}

.section-head h4 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    font-size: 2.5rem;
}

.section-head h4:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.section-head h4 span {
    font-weight: bold;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    gap: 20px;
    padding: 0 3rem;
}

.item {
    background: #fff;
    text-align: center;
    padding: 30px 25px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    border: 5px solid rgba(255, 255, 255, 0.07);
    transition: all 0.5s ease;
    min-height: 180px;
}

.item:hover {
    background: rgba(255, 102, 31,1);
    color: #fff;
}

.item .icon img {
    /* width: 1rem;
    height: 1rem; */
    margin-bottom: 20px;
    color: rgba(255, 102, 31,1);
    width: 20px;
    height: 0px;
    line-height: 96px;
    border-radius: 50px;
}

.item h6 {
    margin-bottom: 20px;
    color: #2f2f2f;
    font-size: 1.2rem;
}
.item p{
    font-size: 1rem;
}

/* footer */
footer {
    /* background-color: #f2f2f2; */
    padding: 30px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content,
.footer-links {
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer-logo img {
    max-width: 100px; /* Adjust the width as needed */
    height: auto;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.btn-privacy {
    padding: 15px 30px;
    background-color: #f91942;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
}

.btn-privacy:hover {
    background-color: #d70e34;
}

.social-icons {
    display: flex;
    margin-top: 2rem;
}

.social-icon {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 20px;
}
.social-icon img{
    width: 4rem;
    margin-right: 1rem;
}

.social-icon:hover {
    color: #f91942;
}

.footer-description {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 400;
}
